.desktop .page-404 {
    main .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        row-gap: 16px;

        .caption {
            line-height: 18px;
        }

        .persik {
            height: 400px;
        }
    }
}