.desktop .explore {
    .MuiTabPanel-root {
        height: calc(100% - 56px);
    }

    .main-content--splitted {
        margin-left: unset;
    }

    .MuiTabs-root {
        padding-left: 16px;
    }

    .infinite-scroll__relative-wrapper {
        margin-top: 16px;
        margin-bottom: 16px;
        padding-left: 16px;
    }

    .wonder-persik-page {
        padding-top: 16px;
    }
}