.desktop .explore {
    .MuiTabPanel-root {
        height: calc(100% - 40px);
    }

    .main-content--splitted {
        margin-left: unset;
    }

    .MuiTabs-root {
        padding-left: 16px;
    }
}