.desktop .explore {
    .MuiTabPanel-root {
        height: calc(100% - 56px);
        position: relative;
        top: 16px;
    }

    .lots-container {
        display: flex;
        flex-wrap: wrap;

        row-gap: 16px;
        column-gap: 16px;
    }
}