.desktop .template {
    display: grid;
    grid-template-rows: auto 1fr;

    font-size: 18px;

    header, main {
        display: flex;
        justify-content: center;
    }

    .content-container {
        width: 100%;
        max-width: 1152px;
    }

    .content-container--split {
        display: grid;
        grid-template-columns: 192px 1fr;

        width: 100%;
        max-width: 1152px;
    }

    main {
        padding-top: 16px;
    }
}