@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
    --bright-primary: #F0F2F4;
    --bright-secondary: #D3D8DF;
    --bright-tertiary: #C7CBD1;
    --bright-quaternary: #A1A4AA;

    --dark-primary: #16181D;
    --dark-secondary: #23262A;
    --dark-tertiary: #2E3238;
    --dark-quaternary: #394046;

    --primary-blue: #34c3ff;
    --primary-green: #33cb9a;
    --primary-red: #EE2B4B;
    --primary-orange: #F96B06;

    --box-shadow-transition: 180ms;

    font-family: 'Inter';
    color: var(--bright-secondary);
    background-color: var(--dark-primary);
}

* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
}

html, body, #root, .template {
    width: 100%;
    height: 100%;
}


button {
    cursor: pointer;
    user-select: none;
    outline: none;
    border: 0;
    font-family: 'Inter';

    a {
        width: 100%;
        height: 100%;
    }

}


.truncatable {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


// override rsuite styles
a, a:hover, a:focus, a:active {
    color: unset;
    text-decoration: none;
}


// Override default browser autofill stiles by setting up transition time
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
    background-color 600000s 0s,
    color 600000s 0s,
    box-shadow var(--box-shadow-transition) 0s
    !important;
}