.desktop header .auth-panel {
    grid-column: 2;

    .auth-panel__button {
        height: 40px;
        width: 87.5px;
        border-radius: 8px;

        font-weight: 600;
        font-size: 16px;
    }

    .auth-panel__logout-button {
        color: var(--bright-primary);
        background-color: inherit;
        border: var(--primary-green) solid 2px;
    }

    .auth-panel__login-button {
        margin-right: 12px;
        color: var(--bright-primary);
        background-color: inherit;
    }

    .auth-panel__signup-button {
        color: var(--dark-primary);
        background-color: var(--primary-green);
    }
}