.desktop .base-card {
    height: 300px;
    width: 216px;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background-color: var(--dark-secondary);

    transition: box-shadow .3s;

    img {
        min-height: 216px;
        max-height: 216px;
        width: 100%;
        border-radius: 10px;
    }

    &:hover {
        box-shadow: 0 0 8px 0px var(--bright-quaternary);
    }
}