.desktop {
    .infinite-scroll__relative-wrapper {
        height: 100%;
        position: relative;
    }

    .infinite-scroll__absolute-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: auto;

        &::-webkit-scrollbar,
        .ptr__children::-webkit-scrollbar {
            display: none;
        }
    }
}
