.desktop {
    .link-button {
        height: 40px;
        min-width: 87.5px;
        padding-left: 10px;
        padding-right: 10px;

        font-weight: 500;
        color: var(--bright-primary);
        background-color: inherit;
        border-radius: 8px;
        border: 2px solid var(--primary-green);
    }
}
