.desktop .rs-modal-content .modal__error-field {
    width: 100%;
    min-height: 16px;

    font-size: 14px;
    line-height: 14px;
    margin-left: 4px;
    margin-top: 4px;
    position: relative;

    color: var(--primary-red);
}